@media screen and (max-width: 420px) {
body {
  background-color:rgb(228, 221, 213);
}
.section {
  height: 95vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  height: 60vh;
  max-width: 600px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
}
.image {
  width: 300px;
  height: 60vh;
  border-radius: 1rem 0 0 1rem
}
.article {
  background-color: white;
  width: 300px;
  border-radius: 0 1rem 1rem 0;
  height: 60vh
}
.article-div {
  height: 60vh;
  width: 300px;
  padding-top: 20px;
  padding-left: 30px;
}
tt {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 10px;
}
h1 {
  font-family: "Fraunces", serif;
  font-size: 33px;
  font-weight: 700;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 5px;
}
p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.7;
  width: 220px;
}
ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}
ul li:first-child {
  color: hsl(158, 36%, 37%);
  font-size: 30px;
  font-family: "Fraunces", serif;
  margin-right: 15px;
  margin-bottom: 2px;
}
.price-2 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 2px;
}
button {
  background-color: hsl(158, 36%, 37%);
  border-style: none;
  border-radius: 7px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  width: 230px;
  padding: 15px;
}
button:hover {
  cursor: pointer;
  background-color: hsl(159, 47%, 28%);;
}
.cart-icon {
  margin-right: 10px;
  vertical-align: middle;
}
.footer {
  font-size: 12px;
  text-align: center;
}
.link {
  color: black;
  text-decoration: none;
}
.link:hover {
  cursor: pointer;
  color: blue;
  font-weight: bolder;
}
}
@media screen and (max-width: 420px) {
  .section {
    height: 95vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    display: grid;
    height: 60vh;
    grid-template-rows: 54vh 18vh;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  .image {
    width: 375px;
    height: 60vh;
    border-radius: 1rem 1rem 0 0;
  }
  .article {
    background-color: white;
    width: 375px;
    border-radius: 0 0 1rem 1rem;
    height: 53vh;
  }
  .article-div {
    height: 53vh;
    width: 375px;
    padding-top: 20px;
    padding-left: 30px;
  }
  tt {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 10px;
  }
  h1 {
    font-family: "Fraunces", serif;
    font-size: 33px;
    font-weight: 700;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.7;
    width: 285px;
  }
  button {
  background-color: hsl(158, 36%, 37%);
  border-style: none;
  border-radius: 7px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  width: 300px;
  padding: 15px;
}
.link:hover {
  cursor: pointer;
  color: blue;
  font-weight: bolder;
}
}
